https://www.crummy.com/software/BeautifulSoup/bs4/doc/

In [1]:
import numpy as np
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [3]:
#  requests.get('https://www.ambitionbox.com/list-of-companies?page=1').text

webpage = requests.get('https://www.ambitionbox.com/list-of-companies?page=1').text
webpage

'<HTML><HEAD>\n<TITLE>Access Denied</TITLE>\n</HEAD><BODY>\n<H1>Access Denied</H1>\n \nYou don\'t have permission to access "http&#58;&#47;&#47;www&#46;ambitionbox&#46;com&#47;list&#45;of&#45;companies&#63;" on this server.<P>\nReference&#32;&#35;18&#46;878c2c31&#46;1669268707&#46;1a745df9\n</BODY>\n</HTML>\n'

In [4]:
soup = BeautifulSoup(webpage, 'lxml')

In [5]:
print(soup.prettify())

<html>
 <head>
  <title>
   Access Denied
  </title>
 </head>
 <body>
  <h1>
   Access Denied
  </h1>
  You don't have permission to access "http://www.ambitionbox.com/list-of-companies?" on this server.
  <p>
   Reference #18.878c2c31.1669268707.1a745df9
  </p>
 </body>
</html>

### Company name

In [5]:
soup.find_all('h1')

In [6]:
soup.find_all('h1')[0].text

'List of companies in India'

In [8]:
soup.find_all('h2')

[<h2 class="company-name bold-title-l" title="TCS">
 								TCS
 							</h2>,
 <h2 class="company-name bold-title-l" title="Accenture">
 								Accenture
 							</h2>,
 <h2 class="company-name bold-title-l" title="Cognizant">
 								Cognizant
 							</h2>,
 <h2 class="company-name bold-title-l" title="ICICI Bank">
 								ICICI Bank
 							</h2>,
 <h2 class="company-name bold-title-l" title="HDFC Bank">
 								HDFC Bank
 							</h2>,
 <h2 class="company-name bold-title-l" title="Infosys">
 								Infosys
 							</h2>,
 <h2 class="company-name bold-title-l" title="Wipro">
 								Wipro
 							</h2>,
 <h2 class="company-name bold-title-l" title="Capgemini">
 								Capgemini
 							</h2>,
 <h2 class="company-name bold-title-l" title="Tech Mahindra">
 								Tech Mahindra
 							</h2>,
 <h2 class="company-name bold-title-l" title="Genpact">
 								Genpact
 							</h2>,
 <h2 class="company-name bold-title-l" title="HCL Technologies">
 								HCL Technologies
 							</h2>,
 <h2 class="company-name bold-title-l" title="Axis Bank">
 								Axis Bank
 							</h2>,
 <h2 class="company-name bold-title-l" title="Amazon">
 								Amazon
 							</h2>,
 <h2 class="company-name bold-title-l" title="IBM">
 								IBM
 							</h2>,
 <h2 class="company-name bold-title-l" title="Concentrix Corporation">
 								Concentrix Corpo...
 							</h2>,
 <h2 class="company-name bold-title-l" title="Larsen &amp; Toubro Limited">
 								Larsen &amp; Toubro ...
 							</h2>,
 <h2 class="company-name bold-title-l" title="Reliance jio">
 								Reliance jio
 							</h2>,
 <h2 class="company-name bold-title-l" title="Vodafone Idea">
 								Vodafone Idea
 							</h2>,
 <h2 class="company-name bold-title-l" title="HDB Financial Services">
 								HDB Financial Se...
 							</h2>,
 <h2 class="company-name bold-title-l" title="Teleperformance">
 								Teleperformance
 							</h2>,
 <h2 class="company-name bold-title-l" title="Kotak Mahindra Bank">
 								Kotak Mahindra B...
 							</h2>,
 <h2 class="company-name bold-title-l" title="Bharti Airtel">
 								Bharti Airtel
 							</h2>,
 <h2 class="company-name bold-title-l" title="Reliance Industries ">
 								Reliance Industr...
 							</h2>,
 <h2 class="company-name bold-title-l" title="Deloitte">
 								Deloitte
 							</h2>,
 <h2 class="company-name bold-title-l" title="Tata Motors">
 								Tata Motors
 							</h2>,
 <h2 class="company-name bold-title-l" title="Reliance Retail">
 								Reliance Retail
 							</h2>,
 <h2 class="company-name bold-title-l" title="Mahindra &amp; Mahindra">
 								Mahindra &amp; Mahin...
 							</h2>,
 <h2 class="company-name bold-title-l" title="WNS">
 								WNS
 							</h2>,
 <h2 class="company-name bold-title-l" title="IndusInd Bank">
 								IndusInd Bank
 							</h2>,
 <h2 class="company-name bold-title-l" title="Flipkart">
 								Flipkart
 							</h2>]

In [8]:
len(soup.find_all('h2'))

30

In [10]:
for i in soup.find_all('h2'):
    print(i.text.strip())

TCS
Accenture
Cognizant
ICICI Bank
HDFC Bank
Infosys
Wipro
Capgemini
Tech Mahindra
Genpact
HCL Technologies
Axis Bank
Amazon
IBM
Concentrix Corpo...
Larsen & Toubro ...
Reliance jio
Vodafone Idea
HDB Financial Se...
Teleperformance
Kotak Mahindra B...
Bharti Airtel
Reliance Industr...
Deloitte
Tata Motors
Reliance Retail
Mahindra & Mahin...
WNS
IndusInd Bank
Flipkart

### ratings

In [12]:
soup.find_all('p', class_ = 'rating badge-large rating-35')

[<p class="rating badge-large rating-35"><i class="icon icon-star"></i>
 								3.9
 							</p>,
 <p class="rating badge-large rating-35"><i class="icon icon-star"></i>
 								3.9
 							</p>,
 <p class="rating badge-large rating-35"><i class="icon icon-star"></i>
 								3.9
 							</p>,
 <p class="rating badge-large rating-35"><i class="icon icon-star"></i>
 								3.9
 							</p>,
 <p class="rating badge-large rating-35"><i class="icon icon-star"></i>
 								3.8
 							</p>,
 <p class="rating badge-large rating-35"><i class="icon icon-star"></i>
 								3.9
 							</p>,
 <p class="rating badge-large rating-35"><i class="icon icon-star"></i>
 								3.9
 							</p>,
 <p class="rating badge-large rating-35"><i class="icon icon-star"></i>
 								3.6
 							</p>,
 <p class="rating badge-large rating-35"><i class="icon icon-star"></i>
 								3.9
 							</p>,
 <p class="rating badge-large rating-35"><i class="icon icon-star"></i>
 								3.7
 							</p>,
 <p class="rating badge-large rating-35"><i class="icon icon-star"></i>
 								3.8
 							</p>]

In [11]:
len(soup.find_all('p', class_ = 'rating'))

30

In [13]:
for i in soup.find_all('p', class_ = 'rating badge-large rating-35'):
    print(i.text.strip())

3.9
3.9
3.9
3.9
3.8
3.9
3.9
3.6
3.9
3.7
3.8

In [14]:
soup.find_all('a', class_ = 'review-count sbold-Labels')

[<a class="review-count sbold-Labels" href="https://www.ambitionbox.com/reviews/tcs-reviews">
 								(44.5k Reviews)
 							</a>,
 <a class="review-count sbold-Labels" href="https://www.ambitionbox.com/reviews/accenture-reviews">
 								(30.1k Reviews)
 							</a>,
 <a class="review-count sbold-Labels" href="https://www.ambitionbox.com/reviews/cognizant-reviews">
 								(27.2k Reviews)
 							</a>,
 <a class="review-count sbold-Labels" href="https://www.ambitionbox.com/reviews/icici-bank-reviews">
 								(32.8k Reviews)
 							</a>,
 <a class="review-count sbold-Labels" href="https://www.ambitionbox.com/reviews/hdfc-bank-reviews">
 								(36.7k Reviews)
 							</a>,
 <a class="review-count sbold-Labels" href="https://www.ambitionbox.com/reviews/infosys-reviews">
 								(26k Reviews)
 							</a>,
 <a class="review-count sbold-Labels" href="https://www.ambitionbox.com/reviews/wipro-reviews">
 								(26k Reviews)
 							</a>,
 <a class="review-count sbold-Labels" href="https://www.ambitionbox.com/reviews/capgemini-reviews">
 								(22.1k Reviews)
 							</a>,
 <a class="review-count sbold-Labels" href="https://www.ambitionbox.com/reviews/tech-mahindra-reviews">
 								(20.1k Reviews)
 							</a>,
 <a class="review-count sbold-Labels" href="https://www.ambitionbox.com/reviews/genpact-reviews">
 								(19.7k Reviews)
 							</a>,
 <a class="review-count sbold-Labels" href="https://www.ambitionbox.com/reviews/hcl-technologies-reviews">
 								(16.7k Reviews)
 							</a>,
 <a class="review-count sbold-Labels" href="https://www.ambitionbox.com/reviews/axis-bank-reviews">
 								(17.8k Reviews)
 							</a>,
 <a class="review-count sbold-Labels" href="https://www.ambitionbox.com/reviews/amazon-reviews">
 								(16k Reviews)
 							</a>,
 <a class="review-count sbold-Labels" href="https://www.ambitionbox.com/reviews/ibm-reviews">
 								(19.6k Reviews)
 							</a>,
 <a class="review-count sbold-Labels" href="https://www.ambitionbox.com/reviews/concentrix-corporation-reviews">
 								(14.5k Reviews)
 							</a>,
 <a class="review-count sbold-Labels" href="https://www.ambitionbox.com/reviews/l-and-t-reviews">
 								(23.3k Reviews)
 							</a>,
 <a class="review-count sbold-Labels" href="https://www.ambitionbox.com/reviews/reliance-jio-reviews">
 								(13.8k Reviews)
 							</a>,
 <a class="review-count sbold-Labels" href="https://www.ambitionbox.com/reviews/vodafone-idea-reviews">
 								(13.5k Reviews)
 							</a>,
 <a class="review-count sbold-Labels" href="https://www.ambitionbox.com/reviews/hdb-financial-services-reviews">
 								(12.5k Reviews)
 							</a>,
 <a class="review-count sbold-Labels" href="https://www.ambitionbox.com/reviews/teleperformance-reviews">
 								(13.5k Reviews)
 							</a>,
 <a class="review-count sbold-Labels" href="https://www.ambitionbox.com/reviews/kotak-mahindra-bank-reviews">
 								(12.9k Reviews)
 							</a>,
 <a class="review-count sbold-Labels" href="https://www.ambitionbox.com/reviews/bharti-airtel-reviews">
 								(11k Reviews)
 							</a>,
 <a class="review-count sbold-Labels" href="https://www.ambitionbox.com/reviews/reliance-reviews">
 								(39.6k Reviews)
 							</a>,
 <a class="review-count sbold-Labels" href="https://www.ambitionbox.com/reviews/deloitte-reviews">
 								(9.6k Reviews)
 							</a>,
 <a class="review-count sbold-Labels" href="https://www.ambitionbox.com/reviews/tata-motors-reviews">
 								(11.3k Reviews)
 							</a>,
 <a class="review-count sbold-Labels" href="https://www.ambitionbox.com/reviews/reliance-retail-limited-reviews">
 								(13.7k Reviews)
 							</a>,
 <a class="review-count sbold-Labels" href="https://www.ambitionbox.com/reviews/mahindra-and-mahindra-reviews">
 								(7.4k Reviews)
 							</a>,
 <a class="review-count sbold-Labels" href="https://www.ambitionbox.com/reviews/wns-reviews">
 								(6.5k Reviews)
 							</a>,
 <a class="review-count sbold-Labels" href="https://www.ambitionbox.com/reviews/indusind-bank-reviews">
 								(6.5k Reviews)
 							</a>,
 <a class="review-count sbold-Labels" href="https://www.ambitionbox.com/reviews/flipkart-reviews">
 								(10.1k Reviews)
 							</a>]

In [14]:
len(soup.find_all('a', class_ = 'review-count'))

30

In [15]:
for i in soup.find_all('a', class_ = 'review-count sbold-Labels'):
    print(i.text.strip())

(44.5k Reviews)
(30.1k Reviews)
(27.2k Reviews)
(32.8k Reviews)
(36.7k Reviews)
(26k Reviews)
(26k Reviews)
(22.1k Reviews)
(20.1k Reviews)
(19.7k Reviews)
(16.7k Reviews)
(17.8k Reviews)
(16k Reviews)
(19.6k Reviews)
(14.5k Reviews)
(23.3k Reviews)
(13.8k Reviews)
(13.5k Reviews)
(12.5k Reviews)
(13.5k Reviews)
(12.9k Reviews)
(11k Reviews)
(39.6k Reviews)
(9.6k Reviews)
(11.3k Reviews)
(13.7k Reviews)
(7.4k Reviews)
(6.5k Reviews)
(6.5k Reviews)
(10.1k Reviews)

In [16]:
soup.find_all('p',class_ = 'infoEntity sbold-list-header')

[<p class="infoEntity sbold-list-header"><i class="icon-domain"></i>
 						Public
 					</p>,
 <p class="infoEntity sbold-list-header"><i class="icon-pin-drop"></i>
 						Mumbai,Maharashtra + 258 more
 					</p>,
 <p class="infoEntity sbold-list-header"><i class="icon-access-time"></i>
 						54 years old
 					</p>,
 <p class="infoEntity sbold-list-header"><i class="icon-supervisor-account"></i>
 						1 Lakh+ Employees (India)
 					</p>,
 <p class="infoEntity sbold-list-header"><i class="icon-domain"></i>
 						Public
 					</p>,
 <p class="infoEntity sbold-list-header"><i class="icon-pin-drop"></i>
 						Dublin + 140 more
 					</p>,
 <p class="infoEntity sbold-list-header"><i class="icon-access-time"></i>
 						33 years old
 					</p>,
 <p class="infoEntity sbold-list-header"><i class="icon-supervisor-account"></i>
 						1 Lakh+ Employees (India)
 					</p>,
 <p class="infoEntity sbold-list-header"><i class="icon-domain"></i>
 						Private
 					</p>,
 <p class="infoEntity sbold-list-header"><i class="icon-pin-drop"></i>
 						Teaneck. New Jersey. + 89 more
 					</p>,
 <p class="infoEntity sbold-list-header"><i class="icon-access-time"></i>
 						28 years old
 					</p>,
 <p class="infoEntity sbold-list-header"><i class="icon-supervisor-account"></i>
 						1 Lakh+ Employees (India)
 					</p>,
 <p class="infoEntity sbold-list-header"><i class="icon-domain"></i>
 						Public
 					</p>,
 <p class="infoEntity sbold-list-header"><i class="icon-pin-drop"></i>
 						Mumbai,Maharashtra + 1025 more
 					</p>,
 <p class="infoEntity sbold-list-header"><i class="icon-access-time"></i>
 						28 years old
 					</p>,
 <p class="infoEntity sbold-list-header"><i class="icon-supervisor-account"></i>
 						1 Lakh+ Employees (India)
 					</p>,
 <p class="infoEntity sbold-list-header"><i class="icon-domain"></i>
 						Public
 					</p>,
 <p class="infoEntity sbold-list-header"><i class="icon-pin-drop"></i>
 						Mumbai,Maharashtra + 1171 more
 					</p>,
 <p class="infoEntity sbold-list-header"><i class="icon-access-time"></i>
 						28 years old
 					</p>,
 <p class="infoEntity sbold-list-header"><i class="icon-supervisor-account"></i>
 						1 Lakh+ Employees (India)
 					</p>,
 <p class="infoEntity sbold-list-header"><i class="icon-domain"></i>
 						Public
 					</p>,
 <p class="infoEntity sbold-list-header"><i class="icon-pin-drop"></i>
 						Bengaluru/Bangalore,Karnataka + 121 more
 					</p>,
 <p class="infoEntity sbold-list-header"><i class="icon-access-time"></i>
 						41 years old
 					</p>,
 <p class="infoEntity sbold-list-header"><i class="icon-supervisor-account"></i>
 						1 Lakh+ Employees (India)
 					</p>,
 <p class="infoEntity sbold-list-header"><i class="icon-domain"></i>
 						Public
 					</p>,
 <p class="infoEntity sbold-list-header"><i class="icon-pin-drop"></i>
 						Bangalore/Bengaluru,Karnataka + 223 more
 					</p>,
 <p class="infoEntity sbold-list-header"><i class="icon-access-time"></i>
 						77 years old
 					</p>,
 <p class="infoEntity sbold-list-header"><i class="icon-supervisor-account"></i>
 						1 Lakh+ Employees (India)
 					</p>,
 <p class="infoEntity sbold-list-header"><i class="icon-domain"></i>
 						Public
 					</p>,
 <p class="infoEntity sbold-list-header"><i class="icon-pin-drop"></i>
 						Paris + 75 more
 					</p>,
 <p class="infoEntity sbold-list-header"><i class="icon-access-time"></i>
 						55 years old
 					</p>,
 <p class="infoEntity sbold-list-header"><i class="icon-supervisor-account"></i>
 						1 Lakh+ Employees (India)
 					</p>,
 <p class="infoEntity sbold-list-header"><i class="icon-domain"></i>
 						Public
 					</p>,
 <p class="infoEntity sbold-list-header"><i class="icon-pin-drop"></i>
 						Pune,Maharashtra + 202 more
 					</p>,
 <p class="infoEntity sbold-list-header"><i class="icon-access-time"></i>
 						36 years old
 					</p>,
 <p class="infoEntity sbold-list-header"><i class="icon-supervisor-account"></i>
 						50k-1 Lakh Employees (India)
 					</p>,
 <p class="infoEntity sbold-list-header"><i class="icon-domain"></i>
 						Public
 					</p>,
 <p class="infoEntity sbold-list-header"><i class="icon-pin-drop"></i>
 						New York,New York + 62 more
 					</p>,
 <p class="infoEntity sbold-list-header"><i class="icon-access-time"></i>
 						25 years old
 					</p>,
 <p class="infoEntity sbold-list-header"><i class="icon-supervisor-account"></i>
 						50k-1 Lakh Employees (India)
 					</p>,
 <p class="infoEntity sbold-list-header"><i class="icon-domain"></i>
 						Public
 					</p>,
 <p class="infoEntity sbold-list-header"><i class="icon-pin-drop"></i>
 						Noida,Uttar Pradesh + 135 more
 					</p>,
 <p class="infoEntity sbold-list-header"><i class="icon-access-time"></i>
 						31 years old
 					</p>,
 <p class="infoEntity sbold-list-header"><i class="icon-supervisor-account"></i>
 						1 Lakh+ Employees (India)
 					</p>,
 <p class="infoEntity sbold-list-header"><i class="icon-domain"></i>
 						Public
 					</p>,
 <p class="infoEntity sbold-list-header"><i class="icon-pin-drop"></i>
 						Mumbai,Maharashtra + 1029 more
 					</p>,
 <p class="infoEntity sbold-list-header"><i class="icon-access-time"></i>
 						29 years old
 					</p>,
 <p class="infoEntity sbold-list-header"><i class="icon-supervisor-account"></i>
 						1 Lakh+ Employees (India)
 					</p>,
 <p class="infoEntity sbold-list-header"><i class="icon-domain"></i>
 						Public
 					</p>,
 <p class="infoEntity sbold-list-header"><i class="icon-pin-drop"></i>
 						Seattle,Washington + 340 more
 					</p>,
 <p class="infoEntity sbold-list-header"><i class="icon-access-time"></i>
 						28 years old
 					</p>,
 <p class="infoEntity sbold-list-header"><i class="icon-supervisor-account"></i>
 						1 Lakh+ Employees (India)
 					</p>,
 <p class="infoEntity sbold-list-header"><i class="icon-domain"></i>
 						Public
 					</p>,
 <p class="infoEntity sbold-list-header"><i class="icon-pin-drop"></i>
 						Armonk,New York + 116 more
 					</p>,
 <p class="infoEntity sbold-list-header"><i class="icon-access-time"></i>
 						111 years old
 					</p>,
 <p class="infoEntity sbold-list-header"><i class="icon-supervisor-account"></i>
 						1 Lakh+ Employees (India)
 					</p>,
 <p class="infoEntity sbold-list-header"><i class="icon-domain"></i>
 						Public
 					</p>,
 <p class="infoEntity sbold-list-header"><i class="icon-pin-drop"></i>
 						Fremont,California + 66 more
 					</p>,
 <p class="infoEntity sbold-list-header"><i class="icon-access-time"></i>
 						39 years old
 					</p>,
 <p class="infoEntity sbold-list-header"><i class="icon-supervisor-account"></i>
 						10k-50k Employees (India)
 					</p>,
 <p class="infoEntity sbold-list-header"><i class="icon-domain"></i>
 						Public
 					</p>,
 <p class="infoEntity sbold-list-header"><i class="icon-pin-drop"></i>
 						Mumbai,Maharashtra + 517 more
 					</p>,
 <p class="infoEntity sbold-list-header"><i class="icon-access-time"></i>
 						84 years old
 					</p>,
 <p class="infoEntity sbold-list-header"><i class="icon-supervisor-account"></i>
 						10k-50k Employees (India)
 					</p>,
 <p class="infoEntity sbold-list-header"><i class="icon-domain"></i>
 						Public
 					</p>,
 <p class="infoEntity sbold-list-header"><i class="icon-pin-drop"></i>
 						Navi Mumbai,Maharashtra + 934 more
 					</p>,
 <p class="infoEntity sbold-list-header"><i class="icon-access-time"></i>
 						15 years old
 					</p>,
 <p class="infoEntity sbold-list-header"><i class="icon-supervisor-account"></i>
 						50k-1 Lakh Employees (India)
 					</p>,
 <p class="infoEntity sbold-list-header"><i class="icon-domain"></i>
 						Public
 					</p>,
 <p class="infoEntity sbold-list-header"><i class="icon-pin-drop"></i>
 						Gandhinagar,Gujrat + 557 more
 					</p>,
 <p class="infoEntity sbold-list-header"><i class="icon-access-time"></i>
 						4 years old
 					</p>,
 <p class="infoEntity sbold-list-header"><i class="icon-supervisor-account"></i>
 						10k-50k Employees (India)
 					</p>,
 <p class="infoEntity sbold-list-header"><i class="icon-domain"></i>
 						Private
 					</p>,
 <p class="infoEntity sbold-list-header"><i class="icon-pin-drop"></i>
 						Ahmedabad,Gujrat + 740 more
 					</p>,
 <p class="infoEntity sbold-list-header"><i class="icon-access-time"></i>
 						15 years old
 					</p>,
 <p class="infoEntity sbold-list-header"><i class="icon-supervisor-account"></i>
 						1 Lakh+ Employees (India)
 					</p>,
 <p class="infoEntity sbold-list-header"><i class="icon-domain"></i>
 						Private
 					</p>,
 <p class="infoEntity sbold-list-header"><i class="icon-pin-drop"></i>
 						Paris + 117 more
 					</p>,
 <p class="infoEntity sbold-list-header"><i class="icon-access-time"></i>
 						44 years old
 					</p>,
 <p class="infoEntity sbold-list-header"><i class="icon-supervisor-account"></i>
 						50k-1 Lakh Employees (India)
 					</p>,
 <p class="infoEntity sbold-list-header"><i class="icon-domain"></i>
 						Public
 					</p>,
 <p class="infoEntity sbold-list-header"><i class="icon-pin-drop"></i>
 						Mumbai,Maharashtra + 464 more
 					</p>,
 <p class="infoEntity sbold-list-header"><i class="icon-access-time"></i>
 						19 years old
 					</p>,
 <p class="infoEntity sbold-list-header"><i class="icon-supervisor-account"></i>
 						50k-1 Lakh Employees (India)
 					</p>,
 <p class="infoEntity sbold-list-header"><i class="icon-domain"></i>
 						Public
 					</p>,
 <p class="infoEntity sbold-list-header"><i class="icon-pin-drop"></i>
 						Gurgaon/Gurugram,Haryana + 481 more
 					</p>,
 <p class="infoEntity sbold-list-header"><i class="icon-access-time"></i>
 						27 years old
 					</p>,
 <p class="infoEntity sbold-list-header"><i class="icon-supervisor-account"></i>
 						10k-50k Employees (India)
 					</p>,
 <p class="infoEntity sbold-list-header"><i class="icon-domain"></i>
 						Public
 					</p>,
 <p class="infoEntity sbold-list-header"><i class="icon-pin-drop"></i>
 						Navi Mumbai,Maharashtra + 447 more
 					</p>,
 <p class="infoEntity sbold-list-header"><i class="icon-access-time"></i>
 						49 years old
 					</p>,
 <p class="infoEntity sbold-list-header"><i class="icon-supervisor-account"></i>
 						1 Lakh+ Employees (India)
 					</p>,
 <p class="infoEntity sbold-list-header"><i class="icon-domain"></i>
 						Private
 					</p>,
 <p class="infoEntity sbold-list-header"><i class="icon-pin-drop"></i>
 						New York,New York + 131 more
 					</p>,
 <p class="infoEntity sbold-list-header"><i class="icon-access-time"></i>
 						177 years old
 					</p>,
 <p class="infoEntity sbold-list-header"><i class="icon-supervisor-account"></i>
 						50k-1 Lakh Employees (India)
 					</p>,
 <p class="infoEntity sbold-list-header"><i class="icon-domain"></i>
 						Public
 					</p>,
 <p class="infoEntity sbold-list-header"><i class="icon-pin-drop"></i>
 						Pune,Maharashtra + 381 more
 					</p>,
 <p class="infoEntity sbold-list-header"><i class="icon-access-time"></i>
 						77 years old
 					</p>,
 <p class="infoEntity sbold-list-header"><i class="icon-supervisor-account"></i>
 						10k-50k Employees (India)
 					</p>,
 <p class="infoEntity sbold-list-header"><i class="icon-domain"></i>
 						Private
 					</p>,
 <p class="infoEntity sbold-list-header"><i class="icon-pin-drop"></i>
 						Navi Mumbai,Maharashtra + 568 more
 					</p>,
 <p class="infoEntity sbold-list-header"><i class="icon-access-time"></i>
 						16 years old
 					</p>,
 <p class="infoEntity sbold-list-header"><i class="icon-supervisor-account"></i>
 						1 Lakh+ Employees (India)
 					</p>,
 <p class="infoEntity sbold-list-header"><i class="icon-domain"></i>
 						Public
 					</p>,
 <p class="infoEntity sbold-list-header"><i class="icon-pin-drop"></i>
 						Mumbai,Maharashtra + 396 more
 					</p>,
 <p class="infoEntity sbold-list-header"><i class="icon-access-time"></i>
 						77 years old
 					</p>,
 <p class="infoEntity sbold-list-header"><i class="icon-supervisor-account"></i>
 						1 Lakh+ Employees (India)
 					</p>,
 <p class="infoEntity sbold-list-header"><i class="icon-domain"></i>
 						Private
 					</p>,
 <p class="infoEntity sbold-list-header"><i class="icon-pin-drop"></i>
 						Mumbai,Maharashtra + 21 more
 					</p>,
 <p class="infoEntity sbold-list-header"><i class="icon-access-time"></i>
 						26 years old
 					</p>,
 <p class="infoEntity sbold-list-header"><i class="icon-supervisor-account"></i>
 						10k-50k Employees (India)
 					</p>,
 <p class="infoEntity sbold-list-header"><i class="icon-domain"></i>
 						Public
 					</p>,
 <p class="infoEntity sbold-list-header"><i class="icon-pin-drop"></i>
 						Gurgaon/Gurugram,Haryana + 542 more
 					</p>,
 <p class="infoEntity sbold-list-header"><i class="icon-access-time"></i>
 						28 years old
 					</p>,
 <p class="infoEntity sbold-list-header"><i class="icon-supervisor-account"></i>
 						10k-50k Employees (India)
 					</p>,
 <p class="infoEntity sbold-list-header"><i class="icon-domain"></i>
 						Public
 					</p>,
 <p class="infoEntity sbold-list-header"><i class="icon-pin-drop"></i>
 						Bangalore,Karnataka + 408 more
 					</p>,
 <p class="infoEntity sbold-list-header"><i class="icon-access-time"></i>
 						15 years old
 					</p>,
 <p class="infoEntity sbold-list-header"><i class="icon-supervisor-account"></i>
 						50k-1 Lakh Employees (India)
 					</p>]

In [17]:
len(soup.find_all('p',class_ = 'infoEntity sbold-list-header'))

120

In [18]:
for i in soup.find_all('p',class_ = 'infoEntity sbold-list-header'):
    print(i.text.strip())

Public
Mumbai,Maharashtra + 258 more
54 years old
1 Lakh+ Employees (India)
Public
Dublin + 140 more
33 years old
1 Lakh+ Employees (India)
Private
Teaneck. New Jersey. + 89 more
28 years old
1 Lakh+ Employees (India)
Public
Mumbai,Maharashtra + 1025 more
28 years old
1 Lakh+ Employees (India)
Public
Mumbai,Maharashtra + 1171 more
28 years old
1 Lakh+ Employees (India)
Public
Bengaluru/Bangalore,Karnataka + 121 more
41 years old
1 Lakh+ Employees (India)
Public
Bangalore/Bengaluru,Karnataka + 223 more
77 years old
1 Lakh+ Employees (India)
Public
Paris + 75 more
55 years old
1 Lakh+ Employees (India)
Public
Pune,Maharashtra + 202 more
36 years old
50k-1 Lakh Employees (India)
Public
New York,New York + 62 more
25 years old
50k-1 Lakh Employees (India)
Public
Noida,Uttar Pradesh + 135 more
31 years old
1 Lakh+ Employees (India)
Public
Mumbai,Maharashtra + 1029 more
29 years old
1 Lakh+ Employees (India)
Public
Seattle,Washington + 340 more
28 years old
1 Lakh+ Employees (India)
Public
Armonk,New York + 116 more
111 years old
1 Lakh+ Employees (India)
Public
Fremont,California + 66 more
39 years old
10k-50k Employees (India)
Public
Mumbai,Maharashtra + 517 more
84 years old
10k-50k Employees (India)
Public
Navi Mumbai,Maharashtra + 934 more
15 years old
50k-1 Lakh Employees (India)
Public
Gandhinagar,Gujrat + 557 more
4 years old
10k-50k Employees (India)
Private
Ahmedabad,Gujrat + 740 more
15 years old
1 Lakh+ Employees (India)
Private
Paris + 117 more
44 years old
50k-1 Lakh Employees (India)
Public
Mumbai,Maharashtra + 464 more
19 years old
50k-1 Lakh Employees (India)
Public
Gurgaon/Gurugram,Haryana + 481 more
27 years old
10k-50k Employees (India)
Public
Navi Mumbai,Maharashtra + 447 more
49 years old
1 Lakh+ Employees (India)
Private
New York,New York + 131 more
177 years old
50k-1 Lakh Employees (India)
Public
Pune,Maharashtra + 381 more
77 years old
10k-50k Employees (India)
Private
Navi Mumbai,Maharashtra + 568 more
16 years old
1 Lakh+ Employees (India)
Public
Mumbai,Maharashtra + 396 more
77 years old
1 Lakh+ Employees (India)
Private
Mumbai,Maharashtra + 21 more
26 years old
10k-50k Employees (India)
Public
Gurgaon/Gurugram,Haryana + 542 more
28 years old
10k-50k Employees (India)
Public
Bangalore,Karnataka + 408 more
15 years old
50k-1 Lakh Employees (India)

In [19]:
company = soup.find_all('div', class_ = 'company-content-wrapper')

In [20]:
len(company)

30

In [21]:
name = []
rating = []
reviews = []
ctype = []
hq = []
old = []
employees = []



for i in company:
    name.append(i.find('h2').text.strip())
    rating.append(i.find('p', class_ = 'rating').text.strip())
    reviews.append(i.find('a', class_ = 'review-count').text.strip())
    ctype.append(i.find_all('p', class_ = 'infoEntity')[0].text.strip())
    hq.append(i.find_all('p', class_ = 'infoEntity')[1].text.strip())
    old.append(i.find_all('p', class_ = 'infoEntity')[2].text.strip())
    employees.append(i.find_all('p', class_ = 'infoEntity')[3].text.strip())
    
    
d = {'name':name, 'rating':rating, 'reviews':reviews, 'type':ctype, 'hq':hq, 'old':old, 'employees':employees}

df = pd.DataFrame(d)

In [22]:
name

['TCS',
 'Accenture',
 'Cognizant',
 'ICICI Bank',
 'HDFC Bank',
 'Infosys',
 'Wipro',
 'Capgemini',
 'Tech Mahindra',
 'Genpact',
 'HCL Technologies',
 'Axis Bank',
 'Amazon',
 'IBM',
 'Concentrix Corpo...',
 'Larsen & Toubro ...',
 'Reliance jio',
 'Vodafone Idea',
 'HDB Financial Se...',
 'Teleperformance',
 'Kotak Mahindra B...',
 'Bharti Airtel',
 'Reliance Industr...',
 'Deloitte',
 'Tata Motors',
 'Reliance Retail',
 'Mahindra & Mahin...',
 'WNS',
 'IndusInd Bank',
 'Flipkart']

In [23]:
rating

['3.9',
 '4.2',
 '4.0',
 '4.0',
 '4.0',
 '4.0',
 '3.9',
 '3.9',
 '3.8',
 '4.0',
 '3.9',
 '3.9',
 '4.2',
 '4.2',
 '4.1',
 '4.1',
 '4.0',
 '4.3',
 '4.0',
 '3.6',
 '3.9',
 '4.1',
 '4.1',
 '4.1',
 '4.0',
 '4.1',
 '4.2',
 '3.7',
 '3.8',
 '4.2']

In [24]:
reviews

['(44.3k Reviews)',
 '(30k Reviews)',
 '(27.1k Reviews)',
 '(32.7k Reviews)',
 '(36.6k Reviews)',
 '(25.9k Reviews)',
 '(27.9k Reviews)',
 '(21.9k Reviews)',
 '(20k Reviews)',
 '(19.7k Reviews)',
 '(16.6k Reviews)',
 '(17.7k Reviews)',
 '(15.9k Reviews)',
 '(19.6k Reviews)',
 '(14.4k Reviews)',
 '(23.3k Reviews)',
 '(13.8k Reviews)',
 '(13.4k Reviews)',
 '(12.5k Reviews)',
 '(13.4k Reviews)',
 '(12.9k Reviews)',
 '(11k Reviews)',
 '(39.5k Reviews)',
 '(9.5k Reviews)',
 '(11.3k Reviews)',
 '(13.7k Reviews)',
 '(6.7k Reviews)',
 '(6.5k Reviews)',
 '(6.5k Reviews)',
 '(10k Reviews)']

In [25]:
ctype

['Public',
 'Public',
 'Private',
 'Public',
 'Public',
 'Public',
 'Public',
 'Public',
 'Public',
 'Public',
 'Public',
 'Public',
 'Public',
 'Public',
 'Public',
 'Public',
 'Public',
 'Public',
 'Private',
 'Private',
 'Public',
 'Public',
 'Public',
 'Private',
 'Public',
 'Private',
 'Public',
 'Private',
 'Public',
 'Public']

In [26]:
hq

['Mumbai,Maharashtra + 258 more',
 'Dublin + 139 more',
 'Teaneck. New Jersey. + 89 more',
 'Mumbai,Maharashtra + 1025 more',
 'Mumbai,Maharashtra + 1169 more',
 'Bengaluru/Bangalore,Karnataka + 121 more',
 'Bangalore/Bengaluru,Karnataka + 224 more',
 'Paris + 75 more',
 'Pune,Maharashtra + 202 more',
 'New York,New York + 62 more',
 'Noida,Uttar Pradesh + 134 more',
 'Mumbai,Maharashtra + 1027 more',
 'Seattle,Washington + 338 more',
 'Armonk,New York + 116 more',
 'Fremont,California + 66 more',
 'Mumbai,Maharashtra + 517 more',
 'Navi Mumbai,Maharashtra + 933 more',
 'Gandhinagar,Gujrat + 557 more',
 'Ahmedabad,Gujrat + 741 more',
 'Paris + 117 more',
 'Mumbai,Maharashtra + 464 more',
 'Gurgaon/Gurugram,Haryana + 481 more',
 'Navi Mumbai,Maharashtra + 447 more',
 'New York,New York + 131 more',
 'Pune,Maharashtra + 381 more',
 'Navi Mumbai,Maharashtra + 566 more',
 'Mumbai,Maharashtra + 396 more',
 'Mumbai,Maharashtra + 21 more',
 'Gurgaon/Gurugram,Haryana + 542 more',
 'Bangalore,Karnataka + 407 more']

In [27]:
old

['54 years old',
 '33 years old',
 '28 years old',
 '28 years old',
 '28 years old',
 '41 years old',
 '77 years old',
 '55 years old',
 '36 years old',
 '25 years old',
 '31 years old',
 '29 years old',
 '28 years old',
 '111 years old',
 '39 years old',
 '84 years old',
 '15 years old',
 '4 years old',
 '15 years old',
 '44 years old',
 '19 years old',
 '27 years old',
 '49 years old',
 '177 years old',
 '77 years old',
 '16 years old',
 '77 years old',
 '26 years old',
 '28 years old',
 '15 years old']

In [28]:
employees

['1 Lakh+ Employees (India)',
 '1 Lakh+ Employees (India)',
 '1 Lakh+ Employees (India)',
 '1 Lakh+ Employees (India)',
 '1 Lakh+ Employees (India)',
 '1 Lakh+ Employees (India)',
 '1 Lakh+ Employees (India)',
 '1 Lakh+ Employees (India)',
 '50k-1 Lakh Employees (India)',
 '50k-1 Lakh Employees (India)',
 '1 Lakh+ Employees (India)',
 '1 Lakh+ Employees (India)',
 '1 Lakh+ Employees (India)',
 '1 Lakh+ Employees (India)',
 '10k-50k Employees (India)',
 '10k-50k Employees (India)',
 '50k-1 Lakh Employees (India)',
 '10k-50k Employees (India)',
 '1 Lakh+ Employees (India)',
 '50k-1 Lakh Employees (India)',
 '50k-1 Lakh Employees (India)',
 '10k-50k Employees (India)',
 '1 Lakh+ Employees (India)',
 '50k-1 Lakh Employees (India)',
 '10k-50k Employees (India)',
 '1 Lakh+ Employees (India)',
 '1 Lakh+ Employees (India)',
 '10k-50k Employees (India)',
 '10k-50k Employees (India)',
 '50k-1 Lakh Employees (India)']

In [22]:
df

,name,rating,reviews,type,hq,old,employees
0,TCS,3.9,(44.5k Reviews),Public,"Mumbai,Maharashtra + 258 more",54 years old,1 Lakh+ Employees (India)
1,Accenture,4.2,(30.1k Reviews),Public,Dublin + 140 more,33 years old,1 Lakh+ Employees (India)
2,Cognizant,4.0,(27.2k Reviews),Private,Teaneck. New Jersey. + 89 more,28 years old,1 Lakh+ Employees (India)
3,ICICI Bank,4.0,(32.8k Reviews),Public,"Mumbai,Maharashtra + 1025 more",28 years old,1 Lakh+ Employees (India)
4,HDFC Bank,4.0,(36.7k Reviews),Public,"Mumbai,Maharashtra + 1171 more",28 years old,1 Lakh+ Employees (India)
5,Infosys,3.9,(26k Reviews),Public,"Bengaluru/Bangalore,Karnataka + 121 more",41 years old,1 Lakh+ Employees (India)
6,Wipro,3.9,(26k Reviews),Public,"Bangalore/Bengaluru,Karnataka + 223 more",77 years old,1 Lakh+ Employees (India)
7,Capgemini,3.9,(22.1k Reviews),Public,Paris + 75 more,55 years old,1 Lakh+ Employees (India)
8,Tech Mahindra,3.8,(20.1k Reviews),Public,"Pune,Maharashtra + 202 more",36 years old,50k-1 Lakh Employees (India)
9,Genpact,4.0,(19.7k Reviews),Public,"New York,New York + 62 more",25 years old,50k-1 Lakh Employees (India)
10,HCL Technologies,3.9,(16.7k Reviews),Public,"Noida,Uttar Pradesh + 135 more",31 years old,1 Lakh+ Employees (India)
11,Axis Bank,3.9,(17.8k Reviews),Public,"Mumbai,Maharashtra + 1029 more",29 years old,1 Lakh+ Employees (India)
12,Amazon,4.2,(16k Reviews),Public,"Seattle,Washington + 340 more",28 years old,1 Lakh+ Employees (India)
13,IBM,4.2,(19.6k Reviews),Public,"Armonk,New York + 116 more",111 years old,1 Lakh+ Employees (India)
14,Concentrix Corpo...,4.1,(14.5k Reviews),Public,"Fremont,California + 66 more",39 years old,10k-50k Employees (India)
15,Larsen & Toubro ...,4.1,(23.3k Reviews),Public,"Mumbai,Maharashtra + 517 more",84 years old,10k-50k Employees (India)
16,Reliance jio,4.0,(13.8k Reviews),Public,"Navi Mumbai,Maharashtra + 934 more",15 years old,50k-1 Lakh Employees (India)
17,Vodafone Idea,4.3,(13.5k Reviews),Public,"Gandhinagar,Gujrat + 557 more",4 years old,10k-50k Employees (India)
18,HDB Financial Se...,4.0,(12.5k Reviews),Private,"Ahmedabad,Gujrat + 740 more",15 years old,1 Lakh+ Employees (India)
19,Teleperformance,3.6,(13.5k Reviews),Private,Paris + 117 more,44 years old,50k-1 Lakh Employees (India)
20,Kotak Mahindra B...,3.9,(12.9k Reviews),Public,"Mumbai,Maharashtra + 464 more",19 years old,50k-1 Lakh Employees (India)
21,Bharti Airtel,4.1,(11k Reviews),Public,"Gurgaon/Gurugram,Haryana + 481 more",27 years old,10k-50k Employees (India)
22,Reliance Industr...,4.1,(39.6k Reviews),Public,"Navi Mumbai,Maharashtra + 447 more",49 years old,1 Lakh+ Employees (India)
23,Deloitte,4.1,(9.6k Reviews),Private,"New York,New York + 131 more",177 years old,50k-1 Lakh Employees (India)
24,Tata Motors,4.0,(11.3k Reviews),Public,"Pune,Maharashtra + 381 more",77 years old,10k-50k Employees (India)
25,Reliance Retail,4.1,(13.7k Reviews),Private,"Navi Mumbai,Maharashtra + 568 more",16 years old,1 Lakh+ Employees (India)
26,Mahindra & Mahin...,4.2,(7.4k Reviews),Public,"Mumbai,Maharashtra + 396 more",77 years old,1 Lakh+ Employees (India)
27,WNS,3.7,(6.5k Reviews),Private,"Mumbai,Maharashtra + 21 more",26 years old,10k-50k Employees (India)
28,IndusInd Bank,3.8,(6.5k Reviews),Public,"Gurgaon/Gurugram,Haryana + 542 more",28 years old,10k-50k Employees (India)
29,Flipkart,4.2,(10.1k Reviews),Public,"Bangalore,Karnataka + 408 more",15 years old,50k-1 Lakh Employees (India)

In [30]:
df.shape

(30, 7)

In [39]:
final = pd.DataFrame()


for j in range(1,10):
    
    url = 'https://www.ambitionbox.com/list-of-companies?page={}'.format(j)
    
    headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 6.3; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.162 Safari/537.36'}
    webpage = requests.get(url, headers = headers).text
    
    soup = BeautifulSoup(webpage, 'lxml')
    company = soup.find_all('div', class_ = 'company-content-wrapper')
    
    name = []
    rating = []
    reviews = []
    ctype = []
    hq = []
    old = []
    employees = []



    for i in company:
        name.append(i.find('h2').text.strip())
        rating.append(i.find('p', class_ = 'rating').text.strip())
        reviews.append(i.find('a', class_ = 'review-count').text.strip())
        ctype.append(i.find_all('p', class_ = 'infoEntity')[0].text.strip())
        hq.append(i.find_all('p', class_ = 'infoEntity')[1].text.strip())
        old.append(i.find_all('p', class_ = 'infoEntity')[2].text.strip())
        try:
            employees.append(i.find_all('p', class_ = 'infoEntity')[3].text.strip())
        except:
            employees.append(np.nan)


    d = {'name':name, 'rating':rating, 'reviews':reviews, 'type':ctype, 'hq':hq, 'old':old, 'employees':employees}
    
    df = pd.DataFrame(d)
    final = pd.DataFrame(df)

IndexError: list index out of range

In [40]:
final.shape

(30, 7)